#mailboxlist-title {
	display:none;
}
#mailboxlist ul {
	border-top: 1px #555 solid !important;
}

#mailboxlist li.selected {
	background: #333;
}
#mailboxlist li a, #mailboxlist li div {
	margin-left: -10px;
}
#mailboxlist li a {

}

#taskbar {
	background: transparent;
}

#taskbar a {
	color: #eeeeee;
}

#mailboxlist-content {
	top: 0;
}

#searchfilter {
	color: #CCC;
}

body.login {
    background: url(images/fredsted-background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#messagetoolbar {
left: 180px;
}

