#mailboxlist-title {
	display:none;
}
#mailboxlist ul {
	border-top: 1px #555 solid !important;
}

#mailboxlist li.selected {
	background: #333;
}
#mailboxlist li a, #mailboxlist li div {
	margin-left: -10px;
}
#mailboxlist li a {

}

#taskbar {
	background: transparent;
}

#taskbar a {
	color: #eeeeee;
}

#mailboxlist-content {
	top: 0;
}

#searchfilter {
	color: #CCC;
}

body.login {
    background: url(images/14962429836_b48066b430_k.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#compose-attachments {
position: absolute;
top: 0;
left: auto;
right: 0;
bottom: 0;
border: 1px solid #999;
background-color: #F9F9F9;
}

#compose-div {
	top:110px;
}

#messagetoolbar {
left: 180px;
}

#mailpreviewframe {
	background: transparent!important;
	border: none;
}

.splitter {
background: url(images/handle.png) center no-repeat; 
}

.splitter-v {
background: url(images/handlev.png) center no-repeat;
}

#login-wrapper {
    position: relative;

    height: 361px;
}

#login-form
{

    background: url(images/login_box.png);
    width:364px;
    height:361px;
    position:absolute;
    left:50%;
    top:50%;
    margin:-200px 0 0 -182px;
}


#login-form form table {
    padding-top: 0px;
}

#login-form table td.input input {
    font-size: 18px;
    padding: 6px;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #b9b9b9;
    margin-bottom: 26px;
    width: 280px;
}

#login-form table td.input input#rcmloginpwd {
    width: 230px;

}


#login-form input:-webkit-autofill {
    border-color: #a0a0a0;
}

input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px white inset; /* Change the color to your own background color */
    -webkit-text-fill-color: #333;
}

input:-webkit-autofill:focus {
    -webkit-box-shadow: /*your box-shadow*/,0 0 0 50px white inset;
    -webkit-text-fill-color: #333;
}

.logintitle {

    /* Remove this line to show title */
    text-indent: -9999px;

    margin: 0 auto;
    display: block;
    width: 100%;
    padding-top: 160px;
    text-align: center;
    font-family: "Helvetica Neue", "Segoe UI", sans-serif;
    font-weight: thin;
    font-size: 20px;
    background-repeat: no-repeat;
    background-position: center;


}

#login-form input[type=submit] {
    margin-top: 10px;
    padding: 10px;
    border :0;
    border-radius: 3px;
    background: transparent;
    color: #555;
    font-family: "Helvetica Neue", "Segoe UI", sans-serif;
    font-size: 12px;
    width: 45px;
    height: 38px;
    cursor: pointer;
    float: right;
    margin-top: -65px;
    margin-right: 30px;
}

#login-form input.button:hover {
    border: 1px solid #000;
}

#tabsbar, div.tabsbar {

}

#prefs-box, #prefs-frame, #folder-box, #folder-frame
, #identity-box, #identity-frame{
    background-color: transparent;
    border: 0;
}

/***** tabbed interface elements *****/

div.tabsbar,
#tabsbar
{
    position: absolute;
    top: 50px;
    left: 10px;
    right: 20px;
    height: 22px;
    border-bottom: 0;
    white-space: nowrap;
}

div.tabsbar
{
    top: 35px;
    left: 12px;
    right: 12px;
}

span.tablink,
span.tablink-selected
{
    float: left;
    height: 22px;
    overflow: hidden;
    background: transparent;
    border-right: #333 1px solid;
}

span.tablink:last-of-type,
span.tablink-selected:last-of-type {
    border-right: 0;
}

span.tablink
{
    cursor: pointer;
}

span.tablink-selected
{
    margin-top: -1px;
    cursor: default;
    height: 22px;
}

span.tablink a,
span.tablink-selected a
{
    display: inline-block;
    padding: 5px 10px 0 5px;
    margin-left: 5px;
    height: 23px;
    color: #CCC;
    max-width: 185px;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    background: transparent;
}

span.tablink-selected a
{
    cursor: inherit;
    color: #dedede;
    font-weight: bold;
}



/***** preferences *****/

#sections-table thead .section {
    height: 12px !important;
    padding: 2px 10px 5px 5px;
    border-bottom: 1px solid #999;
    color: #e9e9e9;
    font-size: 11px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
    background: #3f3f3f;
}